<style>
    .container{
        width: 880px;
        justify-content: center;
        align-items: center;
        align-content: center;
        display: flex;
        flex-direction: column;
        background-color: #121214;
        color: #e1e1e6;
    }
    .rodape{
        color: #04d361;
    }

</style>

<div class="container">
    <label>Olá <strong>{{name}}</strong>! Recebemos a sua resposta</label>
    <h3>
        {{title}}
    </h3>
    <br>
    <strong>
        Agradecemos por responder a nossa pesquisa, seu feedback nos ajuda a melhorar cada vez mais nossos serviços
    </strong>
    <br>
    <br>
    <strong class="rodape">Sua opinião é muito importante para nós!</strong>
    <h3 class="rodape">Equipe |<strong>NLW</strong></h3>
</div>